<!DOCTYPE html>
<html th:replace="~{_plantilla :: plantilla(~{::title}, ~{::main})}"
	lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Carrito</title>
</head>
<body>
	<main>
		<!--/*-->
		<pre th:text="'^' + ${carrito} + '$'"></pre>
		<!--*/-->
		<table class="table table-sm table-hover table-bordered table-striped">
			<caption>Carrito</caption>
			<thead class="table-dark">
				<tr>
					<th class="text-end" scope="col">Id</th>
					<th scope="col">Imagen</th>
					<th scope="col">Nombre</th>
					<th class="text-end" scope="col">Precio</th>
					<th scope="col">Cantidad</th>
					<th scope="col">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="linea: ${carrito.lineas}">
					<th class="text-end" scope="row" th:text="${linea.producto.id}">1</th>
					<td><img height="50"
						th:src="@{/imgs/{imagen}.jpg(imagen=${linea.producto.id})}"
						src="#" alt=""></td>
					<td th:text="${linea.producto.nombre}">Producto1</td>
					<td class="text-end"
						th:text="${#numbers.formatCurrency(linea.producto.precio)}">123,12€</td>
					<td>
						<form th:action="@{/carrito}" method="post" class="input-group mb-3">
							<button class="menos btn btn-sm btn-outline-secondary" type="button">-</button>
							<input type="hidden" name="id" value="0" th:value="${linea.producto.id}">
							<input type="text" name="cantidad"
								th:value="${linea.cantidad}"
								value="0" class="text-center form-control-sm"
								placeholder="Cantidad">
							<button class="mas btn btn-sm btn-outline-secondary" type="button">+</button>
							<button class="btn btn-sm btn-primary">Aceptar</button>
						</form>
					</td>
					<td> <a
						class="btn btn-sm btn-danger"
						th:href="'quitar-del-carrito/' + ${linea.producto.id}" href="#">Quitar
							del carrito</a></td>
				</tr>
			</tbody>
			<tfoot class="table-dark">
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><a class="btn btn-primary btn-sm" th:href="@{/}" href="#">Añadir</a></td>

				</tr>
			</tfoot>
		</table>
		<p>
			<a class="btn btn-primary btn-sm" th:href="@{/confirmacion}" href="#">Confirmación</a>
		</p>
		
		<script th:src="@{/js/cantidades.js}" src=""></script>
	</main>
</body>
</html>