<!DOCTYPE html>
<html th:replace="~{_plantilla :: plantilla(~{::title}, ~{::main})}"
	lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Principal</title>
</head>
<body>
	<main
		class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4">
		<!--/*-->
		<pre th:text="'^' + ${carrito} + '$'"></pre>
		<!--*/-->
		<div th:each="producto: ${productos}" th:object="${producto}"
			class="col">
			<div class="card h-100">
				<img th:src="@{/imgs/{fichero}.jpg(fichero=*{id})}" src="..."
					class="card-img-top" alt="">
				<form th:action="@{/carrito}" method="post"
					class="card-body d-flex flex-column">
					<h5 class="card-title" th:text="*{nombre}">Card title</h5>
					<p class="card-text text-end"
						th:text="*{#numbers.formatCurrency(precio)}">This is a wider
						card with supporting text below as a natural lead-in to additional
						content. This content is a little bit longer.</p>
					<div class="input-group mb-3 mt-auto">
						<button class="menos btn btn-outline-secondary" type="button">-</button>
						<input type="hidden" name="id" value="0" th:value="*{id}">
						<input type="text" name="cantidad" th:value="${carrito.lineasPorId[producto.id]?.cantidad ?: 0}" value="0"
							class="text-center form-control" placeholder="Cantidad">
						<button class="mas btn btn-outline-secondary" type="button">+</button>
					</div>
					<div>
						<button class="btn w-100 btn-primary">Añadir a la cesta</button>
					</div>
				</form>
				<div class="card-footer">
					<small th:text="*{categoria.nombre}" class="text-muted">Last
						updated 3 mins ago</small>
				</div>
			</div>
		</div>
		<script th:src="@{/js/cantidades.js}" src=""></script>
	</main>

</body>
</html>