<!DOCTYPE html>
<html th:replace="~{_plantilla :: plantilla(~{::title}, ~{::body})}"
	lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Principal</title>
</head>
<body>
	<div class="row">
		<div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6">
			<form th:action="@{/login}" method="post">
				<fieldset>
					<legend>Login</legend>
					<div class="row mb-3">
						<label class="col-sm-3 form-label" for="email">Email</label>
						<div class="col-sm-9">
							<input class="form-control" id="email" name="username"
								placeholder="Email">
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-3 form-label" for="password">Contraseña</label>
						<div class="col-sm-9">
							<input class="form-control" name="password" type="password"
								id="password" placeholder="Contraseña">
						</div>
					</div>
					<div class="row mb-3">
						<div class="offset-sm-3 col-sm-9">
							<button class="btn btn-primary">Aceptar</button>
							<span class="text-danger" th:if="${param.error}">Email o
								contraseña incorrectos</span> <span class="text-danger"
								th:if="${param.logout}">Has cerrado la sesión</span>
						</div>
					</div>

				</fieldset>
			</form>
			<form th:action="@{/registro}" method="post" th:object="${usuario}">
				<fieldset>
					<legend>Registro</legend>
					<div class="row mb-3">
						<label class="col-sm-3 form-label" for="email">Email</label>
						<div class="col-sm-9">
							<input class="form-control" th:field="*{email}"
								placeholder="Email">
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-3 form-label" for="password">Contraseña</label>
						<div class="col-sm-9">
							<input class="form-control" type="password" th:field="*{password}" placeholder="Contraseña">
						</div>
					</div>
					<div class="row mb-3">
						<div class="offset-sm-3 col-sm-9">
							<button class="btn btn-primary">Aceptar</button>
						</div>
					</div>

				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>