body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#header{
    background-image: url(./imagenes/fondo_encabezado.png);
    background-size: auto 100%;
    height: 110px;
    background-position: right;
}
#header img{
    margin-left: 20%;
    border-left: 2px black;
}
#headernav{
    justify-content: space-around;
    background-color: #6b6d17;
    display: flex;
}
#headernav ul li{
    text-transform: uppercase;
    list-style: none;
    padding: 10px;
    margin: 5px;
}
#headernav ul{
    display: flex;
    margin: 0;
}
#headernav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
#headernav ul li a:hover{
    background-color: #9EA123;
}
nav{
    background-color: #9EA123;
}
nav ul li{
    text-transform: uppercase;
    list-style: none;
    padding: 2px;
    margin-right: 6px;
}
nav ul{
    left: auto;
    display: flex;
    margin-top: 0;
    padding: 0;
    margin-left: 21px;
}
nav ul li a{
    text-decoration: none;
    color: #E4E682;
}
nav ul li a:focus{
    color: #35360B;
}
#left{
    margin: 30px;
    margin-right: 0;
    margin-bottom: 0;
    width: 20%;
}
#right{
    flex-direction: column;
    width: 80%;
}
#right nav{
    width: 1000px;
    height: 25px;
    font-size: 18px;
}
#right img{
    width: 1000px;
    height: 416px;
}
#right #bienvenida{
    padding: 40px;
}
#right p{
    font-size: 21px;
    color: #35360B;
}
#contain{
    display: flex;
    width: 95%;
    margin: auto;
}
#logopie{
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
#footerbar{
    height: 30px;
    width: 100%;
    background-color: #6b6d17;
}
#footercontent{
    margin-bottom: 20px;
    height: 120px;
    width: 100%;
    background-color: #9EA123;
    display: flex;
    color: #35360B;
    line-height: 1.5;
}
#footercontent p{
    width: 50%;
    padding-left: 100px;
}
#footercontent p a{
    color: #35360B;
    text-transform: uppercase;
    text-decoration: none;
}
#cuadrosobreimg{
    width: 462px;
    height: 95px;
    background: #f6f7d5;
    opacity: 0.65;
    position: absolute;
    top: 40%;
    right: 10%;
    padding: 15px;
    opacity: 0.65;
}
#cuadrosobreimg p{
    font-size: 18px;
    color: #35360B;
    margin: 0;
}